asgiref==3.5.0
certifi==2020.6.20
Django==3.2
djangorestframework==3.13.1
psycopg2 @ file:///C:/ci/psycopg2_1594305209841/work
pytz==2020.1
sqlparse @ file:///tmp/build/80754af9/sqlparse_1602184451250/work
typing_extensions==4.1.1
wincertstore==0.2
